
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">

    <title>Release discovery</title>
    <style>
      body{
        background-color: #444;
        color: #e8e8e8;
      }
      h1{
        font-family: 'Monoton', sans-serif;
        font-size: 3rem;
        word-spacing: 20px;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h1 class="mt-3">Release discovery</h1>
        <p class="my-3">Have you ever said <em>"I wish I had saved that song from that discovery weekly playlist last week"</em>? Well, be sad no more with <strong>Release Discovery</strong>!</p>
        <div class="form-row">
            <div class="col-md-9 card bg-dark">
                <div class="card-body">
                    <p>Release Discovery is a web application to help Spotify users save songs from the Discover Weekly and Release Radar playlists.</p>
                    <p>Every Monday and Friday Spotify's algorithm builds personalized playlists for users. Unfortunately these playlists don't persist past the week and if you don't save the songs elsewhere they disappear. Using Spotify's API and OAuth2, this application will cross references songs in the Discover Weekly and Release Radar playlists against songs listeners added to their library and adds them to a new playlist.</p>
                    {{#index}}
                    <p>You can register by clicking below.</p>
                    <form action="/register">
                      <input type="submit" class="btn btn-primary btn-lg" value="Register"/>
                    </form>
                    {{/index}}
                    {{#home}}
                    <h2>You've successfully registered!</h2>
                    {{/home}}

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
